.mini-box {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5px;
}

.ChoiceBox {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
    -fx-cursor: hand;
    -fx-background-radius: 5px;

}

.ChoiceBox:hover {
    -fx-background-color: #E0E0E0;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
}

.ChoiceBox:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
}

.card {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
}

.image-view {
-fx-fit-to-width: 177px;
-fx-fit-to-height: 245px;   
}

.combo-box-menu {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-padding: 5;
    -fx-text-fill: #333333;
}

.combo-box-menu:hover {
    -fx-background-color: #e6f7ff;
    -fx-border-color: #005bb5;
}

.combo-box-menu:focused {
    -fx-border-color: #00aaff;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #00aaff, 5, 0, 0, 0);
}

.combo-box-menu .arrow {
    -fx-background-color: #0078d7;
}

.combo-box-menu .list-cell {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: #f9f9f9;
}

.combo-box-menu .list-cell:hover {
    -fx-background-color: #e6f7ff;
    -fx-text-fill: #005bb5;
}