.mini-box {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5px;
}

.ChoiceBox {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
    -fx-cursor: hand;
    -fx-background-radius: 5px;

}

.ChoiceBox:hover {
    -fx-background-color: #E0E0E0;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
}

.ChoiceBox:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
    -fx-border-width: 1 0;
}

.card {
    -fx-background-color: #ffffff;
    -fx-border-color: lightgray transparent;
}