# build file
/bin/
/build/
/target/

# class files
*.class

# log files
*.log

# IntelliJ, Eclipse, NetBeans
.idea/
*.iml
*.ipr
*.iws
/.project
/.classpath
/.settings/
*.nbproject

# Maven or Gradle file
/.mvn/
/.gradle/
/*.jar
/*.war
/*.ear

# cache
/.cache/
/out/

# Tệp cấu hình môi trường cục bộ
.env

# Các tệp tạm thời của hệ điều hành
*.tmp
*.swp
.DS_Store
Thumbs.db

# database file
/db/

# Note
note.txt

# ignore file tasks.json
.vscode/tasks.json

/pdf/

img/qr_codes/