.login-form {
    -fx-background-color: linear-gradient (to bottom right, #252d50, #324f6b);
}



.card-form {
    background-color: #2a5172;
    -fx-  :15px;
}

.close {
    background-color: transparent;
    cursor: hand;
}

.close:hover {
    background-color: #f13f57;
}

.minimize {
    background-color: transparent;
    cursor: hand;
}

.minimize:hover {
    background-color: #5481ab;
}

/* .textfield */