.box-mini {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #e8b9b9;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.TextField {
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.error-label {
    -fx-font-size: 12px;
    -fx-text-fill: red;
}
